@charset "UTF-8";
@import "reset";

#wrap {
   width: 800px;
   border: 10px solid #000;
   margin: 100px auto;

   &::after {
      content: "";
      display: block;
      clear: both;
   }

   .left {
      width: 400px;
      height: 400px;
      background: aqua;
      float: left;
      position: relative;
   }

   .right {
      width:  400px;
      height: 400px;
      background: hotpink;
      float: left;
      position:relative;

         .obj1 {
            width: 200px;
            height: 200px;
            background: #555;
            position: absolute;
            bottom: 50px;
            right: 50px;
            z-index:2;
            opacity: 0.5;
         }
         .obj2 {
            width: 200px;
            height: 200px;
            background: #222;
            position: absolute;
            top:50px;
            left: 50px;
            z-index:1;
         }
   }

   .bottom {
      width: 800px;
      height: 100px;
      background: orange;
      float:left
   }
}